"*":
  "activate-power-mode":
    autoToggle: false
  "atom-beautify":
    general:
      _analyticsUserId: "18ac9aef-b656-4dc7-aeb0-49666038c293"
      analytics: false
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      genAccent: true
      predefinedColor: "Indigo"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui: {}
  "autocomplete-go":
    suppressBuiltinAutocompleteProvider: false
  "autocomplete-plus":
    confirmCompletion: "tab"
    useCoreMovementCommands: false
  core:
    disabledPackages: [
      "activate-power-mode"
      "go-debug"
      "merge-conflicts"
    ]
    projectHome: "/Users/bivers/Development"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "41740829-c9a0-64fe-109c-e6d1585f3252"
  "file-icons": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    gitPath: "/usr/local/bin/git"
  "go-debug":
    panelInitialVisible: true
  "go-plus":
    currentPanelHeight: "14.891179839633448vh"
    disabledBundledPackages: [
      "go-debug"
    ]
    formatTool: "gofmt"
    goPath: "/Users/bivers/Development/go"
    lintOnSave: true
    panelDisplayMode: "closed"
    vetOnSave: false
  "gometalinter-linter":
    args: [
      "--disable-all"
      "--json"
    ]
  "language-babel":
    autoIndentJSX: true
  linter: {}
  "linter-shellcheck": {}
  "linter-ui-default": {}
  "markdown-preview": {}
  "merge-conflicts": {}
  pigments: {}
  "terminal-plus":
    toggles:
      autoClose: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus":
    clearMultipleCursorsOnEscapeInsertMode: true
    highlightSearch: true
    useClipboardAsDefaultRegister: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
